:root {
	--1-Vaporwave: #a653f5;
	--2-Vaporwave: #8f8cf2;
	--3-Vaporwave: #65b8bf;
	--4-Vaporwave: #f96cff;
	--5-Vaporwave: #fa92fb;
	--1-80s: #ff68a8;
	--2-80s: #64cff7;
	--3-80s: #f7e752;
	--4-80s: #ca7cd8;
	--5-80s: #3968cb;
	--1-90s: #ff68a8;
	--2-90s: #64cff7;
	--3-90s: #f7e752;
	--4-90s: #ca7cd8;
	--5-90s: #3968cb;
	--1-Cloud: #f08d7e;
	--2-Cloud: #efa18a;
	--3-Cloud: #e2bab1;
	--4-Cloud: #dda6b9;
	--5-Cloud: #acaec5;
	--1-Kawaii: #befcff;
	--2-Kawaii: #defffa;
	--3-Kawaii: #ffdaf5;
	--4-Kawaii: #b0e1ff;
	--5-Kawaii: #e6c6ff;
	--1-Cyberpunk: #461e52;
	--2-Cyberpunk: #dd517f;
	--3-Cyberpunk: #e68e36;
	--4-Cyberpunk: #556dc8;
	--5-Cyberpunk: #7998ee;
	--1-Synthwave: #461e52;
	--2-Synthwave: #dd517f;
	--3-Synthwave: #e68e36;
	--4-Synthwave: #556dc8;
	--5-Synthwave: #7998ee;
	--1-Lofi: #674ab3;
	--2-Lofi: #a348a6;
	--3-Lofi: #9f63c4;
	--4-Lofi: #9075d8;
	--5-Lofi: #cea2d7;
	--1-Outrun: #362fbb;
	--2-Outrun: #712275;
	--3-Outrun: #f97698;
	--4-Outrun: #ffb845;
	--5-Outrun: #7998ee;
}
