body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.users {
	display: flex;
	justify-content: left;
	align-items: left;

	padding: 15px;
	text-align: center;

	width: 295px;
}

.participants {
	display: flex;
	justify-content: left;
	align-items: left;
	padding: 25px;
	text-align: center;

	width: 195px;
}
.msgbody {
	background-color: cadetblue;
	text-align: center;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 10px;
	color: white;
	width: 64%;
	box-shadow: 20px 20px 50px grey;
	font-family: "Raleway";
}
.msgFrom {
	margin-left: 9px;
	color: brown;
	font-size: 20px;
}
@import url(https://fonts.googleapis.com/css?family=Pacifico);
.clientHeader {
	font-family: "Pacifico";
	color: green;
}
@import url(https://fonts.googleapis.com/css?family=Cherry+Swash);
.joinAlert {
	font-family: "Cherry Swash";
	color: chocolate;
}
@import url(https://fonts.googleapis.com/css?family=Raleway);
